*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --text-color:white;
    --body-color: rgb(30, 30, 30);
    --nav-selected: rgba(130, 135, 136, .6);
    --nav-barbg: rgba(130, 135, 136, .30);
    --text-shadowcolor: rgba(255, 255, 255, .35);
    --nav-shadowcolor: rgba(0, 0,0, .35);
    --img-shadowcolor: rgba(0, 0,0, .65);
}

/*------------------------------------------------------*/

body{
    
    background-color: var(--body-color);
    margin: 3.125rem;
    
    
}

/*------------------------------------------------------*/

@font-face{
    src: url(fonts/NeueMontreal-Bold.otf);
    font-family: NMB;
}
@font-face{
    src: url(fonts/NeueMontreal-Light.otf);
    font-family: NML;
}
@font-face{
    src: url(fonts/NeueMontreal-Regular.otf);
    font-family: NMR;
}

/* //1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, */
/* //1996, 2000, 2004, 2008, 2012, 2016, 2020 -- 29 diff values */

/*------------------------------------------------------*/
nav{
    position: relative;
    width: auto;
    height: 2.5rem;
    background-color: var(--nav-barbg);  /*background of the nav bar */
    border-radius: .5rem;
    font-size: 0;
    box-shadow: 0rem 0rem 1.25rem 0rem var(--nav-shadowcolor);
    /* border:3px solid white; */
    
}
nav button{
    font-size: .938rem;
    font-family: NMR;
    color: var(--text-color);
    background-color: rgba(30, 30, 30, 0);
    border: none;
    text-decoration: none;
    line-height: 2.5rem;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    
}
nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: var(--nav-selected);       /*selected*/
    width: 6.25rem;
    border-radius: .5rem;
    transition: all .45s ease 0s;
    
    
}

/*------------------------------------------------------*/

button:nth-child(1){
    width: 50px;
}
nav .start-home,button:nth-child(1):hover~.animation{
    width: 50px;
    left: 0;
}
button:nth-child(2){
    width: 50px;
}
nav .start-portfolio,button:nth-child(2):hover~.animation{
    width: 50px;
    left: 50px;
}
button:nth-child(3){
    width: 50px;
}
nav .start-qualifications,button:nth-child(3):hover~.animation{
    width: 50px;
    left: 100px;
}
button:nth-child(4){
    width: 50px;
}
nav .start-service,button:nth-child(4):hover~.animation{
    width: 50px;
    left: 150px;
}