.timeline{
    position: absolute;
    display: flex;
    bottom: 10vh;
    width: 100%;
    justify-content: space-evenly;
}

.timeline__sections{
    background-color: darkgray !important;
    box-shadow: 0px 10px 53px 0px rgba(0,0, 0, 0.3) !important;
    border-radius: 8px !important;
    
}

